In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Dataset/data_pridicted.csv')
df

,Unnamed: 0,Location,Gender,Age,pRate21,pRate20,pRate19,pRate18,pRate17,pRate16,...,schools25Km,bstop1Km,bstop5Km,bstop10Km,bstop15Km,bstop20Km,bstop25Km,fit,lwr,upr
0,1,Aberdeen North,Male,17,0.573643,0.643357,0.689076,0.625000,NaN,0.705729,...,2,100,944,1364,1595,1676,1969,0.601601,0.432406,0.770796
1,2,Aberdeen North,Male,18,0.481818,0.600000,0.586207,0.568627,0.567073,0.602041,...,2,100,944,1364,1595,1676,1969,0.533794,0.364652,0.702937
2,3,Aberdeen North,Male,19,0.523438,0.591837,0.558824,0.488636,0.638095,0.672414,...,2,100,944,1364,1595,1676,1969,0.540842,0.371752,0.709933
3,4,Aberdeen North,Male,20,0.512605,0.679487,0.440000,0.570000,0.619565,0.548077,...,2,100,944,1364,1595,1676,1969,0.512671,0.343535,0.681807
4,5,Aberdeen North,Male,21,0.433962,0.550725,0.769231,0.588235,0.578947,0.571429,...,2,100,944,1364,1595,1676,1969,0.547497,0.378060,0.716934
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10935,16404,ZZWellingborough (closed),Male,24,NaN,NaN,NaN,NaN,NaN,NaN,...,197,65,1240,4227,8550,13302,18874,NaN,NaN,NaN
10936,16405,ZZWellingborough (closed),Female,19,NaN,NaN,NaN,NaN,NaN,NaN,...,197,65,1240,4227,8550,13302,18874,NaN,NaN,NaN
10937,16407,ZZWellingborough (closed),Female,20,NaN,NaN,NaN,NaN,NaN,NaN,...,197,65,1240,4227,8550,13302,18874,NaN,NaN,NaN
10938,16408,ZZWellingborough (closed),Female,23,NaN,NaN,NaN,NaN,NaN,NaN,...,197,65,1240,4227,8550,13302,18874,NaN,NaN,NaN
10939,16410,ZZWellingborough (closed),Female,18,NaN,NaN,NaN,NaN,NaN,NaN,...,197,65,1240,4227,8550,13302,18874,NaN,NaN,NaN

In [20]:
# find the lng,lat of the uxbridge
uxlng,uxlat =  tuple(df[df['Location'] == 'Uxbridge (London)'].iloc[0][['lng','lat']])

import geopy.distance


# geopy.distance.geodesic((uxlng*1.,uxlat), (uxlng,uxlat)).km

df['distance'] = df.apply(lambda x: geopy.distance.geodesic((uxlng,uxlat), (x['lng'],x['lat'])).km, axis=1)
df

,Unnamed: 0,Location,Gender,Age,pRate21,pRate20,pRate19,pRate18,pRate17,pRate16,...,bstop1Km,bstop5Km,bstop10Km,bstop15Km,bstop20Km,bstop25Km,fit,lwr,upr,distance
0,1,Aberdeen North,Male,17,0.573643,0.643357,0.689076,0.625000,NaN,0.705729,...,100,944,1364,1595,1676,1969,0.601601,0.432406,0.770796,648.239760
1,2,Aberdeen North,Male,18,0.481818,0.600000,0.586207,0.568627,0.567073,0.602041,...,100,944,1364,1595,1676,1969,0.533794,0.364652,0.702937,648.239760
2,3,Aberdeen North,Male,19,0.523438,0.591837,0.558824,0.488636,0.638095,0.672414,...,100,944,1364,1595,1676,1969,0.540842,0.371752,0.709933,648.239760
3,4,Aberdeen North,Male,20,0.512605,0.679487,0.440000,0.570000,0.619565,0.548077,...,100,944,1364,1595,1676,1969,0.512671,0.343535,0.681807,648.239760
4,5,Aberdeen North,Male,21,0.433962,0.550725,0.769231,0.588235,0.578947,0.571429,...,100,944,1364,1595,1676,1969,0.547497,0.378060,0.716934,648.239760
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10935,16404,ZZWellingborough (closed),Male,24,NaN,NaN,NaN,NaN,NaN,NaN,...,65,1240,4227,8550,13302,18874,NaN,NaN,NaN,44.688516
10936,16405,ZZWellingborough (closed),Female,19,NaN,NaN,NaN,NaN,NaN,NaN,...,65,1240,4227,8550,13302,18874,NaN,NaN,NaN,44.688516
10937,16407,ZZWellingborough (closed),Female,20,NaN,NaN,NaN,NaN,NaN,NaN,...,65,1240,4227,8550,13302,18874,NaN,NaN,NaN,44.688516
10938,16408,ZZWellingborough (closed),Female,23,NaN,NaN,NaN,NaN,NaN,NaN,...,65,1240,4227,8550,13302,18874,NaN,NaN,NaN,44.688516
10939,16410,ZZWellingborough (closed),Female,18,NaN,NaN,NaN,NaN,NaN,NaN,...,65,1240,4227,8550,13302,18874,NaN,NaN,NaN,44.688516

In [37]:
df_recommendation =  df.loc[(df["Gender"]=="Female")&(df["Age"]==18),["Location","distance","fit","lwr","upr"]].sort_values(by="distance",ascending=True).dropna()
df_recommendation

               Location    distance       fit       lwr       upr
7876  Uxbridge (London)    0.000000  0.565565  0.396436  0.734694
7097    Slough (London)    8.445768  0.509208  0.340099  0.678317
6435    Pinner (London)   10.409096  0.529642  0.360500  0.698784
7176  Southall (London)   12.623843  0.483125  0.314024  0.652227
8475   Yeading (London)   12.623843  0.547688  0.378459  0.716917
...                 ...         ...       ...       ...       ...
151              Alness  801.969390  0.576746  0.407414  0.746079
8276               Wick  820.867904  0.592539  0.423330  0.761747
6197             Orkney  872.309432  0.558498  0.389357  0.727640
5041            Lerwick  961.627674  0.674305  0.504999  0.843611
7506          Stornoway  986.879724  0.661721  0.492466  0.830976

[282 rows x 5 columns]

In [74]:
# df_recommendation.sort_values(by=["fit","distance"],ascending=True)
# find the distance < 10km,100km,200km withe the best fit
# df_recommendation.loc[df_recommendation["distance"]<10].sort_values(by=["fit","distance"],ascending=True).head(10)
the_best= []
inrange = [20,100,200,300,400,5000]
for distance in inrange:
    # print(distance)
    df_recommendation_temp = df_recommendation.loc[df_recommendation["distance"]<distance].sort_values(by=["fit"],ascending=False).head(1)
    the_best.append(df_recommendation_temp)

# concat the best fit
df_best = pd.concat(the_best,axis=0)
df_best["inrange"] = inrange
df_best

,Location,distance,fit,lwr,upr,inrange
4614,Isleworth (Fleming Way),17.911548,0.584858,0.415661,0.754054,20
2244,Chichester,85.193555,0.595413,0.426286,0.764540,100
6756,Rugby,128.063375,0.599374,0.430241,0.768507,200
2636,Dorchester,239.047351,0.611613,0.442384,0.780842,300
4702,Kendal (Oxenholme Road),396.300728,0.633292,0.464102,0.802481,400
5041,Lerwick,961.627674,0.674305,0.504999,0.843611,5000

In [78]:
df_best.to_csv("./Dataset/the_best_recommendation.csv",index=False)